<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	default-lazy-init="true">
	<!--jax-ws endpoint定义 
		<bean id="groupInfoWebService" class="com.sunshine.sample.webservice.GroupInfoWebServiceImpl"></bean>

		<jaxws:endpoint address="/groupService">
			<jaxws:implementor ref="groupInfoWebService" />
		</jaxws:endpoint>
		-->
</beans>   