<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/exchange.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/exchange.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level   -->
	<logger name="org.springframework" additivity="false" level="ERROR" />
	<logger name="org.springframework.web" additivity="false" level="ERROR"/>
	<logger name="org.apache.struts2" additivity="false" level="ERROR"/>
	<logger name="com.opensymphony.xwork2" additivity="false" level="ERROR"/>
	<logger name="org.hibernate" additivity="false" level="ERROR"/>
	<logger name="org.quartz" additivity="false" level="ERROR"/>
	<logger name="net.sf.ehcache" additivity="false" level="ERROR"/>
	<logger name="org.logicalcobwebs" additivity="false" level="ERROR"/>
	<logger name="org.jboss" additivity="false" level="ERROR"/>
	<logger name="org.apache.commons" additivity="false" level="ERROR"/>
	<logger name="org.apache.activemq" additivity="false" level="ERROR"/>
	<logger name="java.sql" additivity="false" level="ERROR"/>
	<logger name="org.apache.mina" additivity="false" level="ERROR"/>
	<logger name="org.apache.ftpserver" additivity="false" level="ERROR"/>
	
	
	<logger name="com.ibatis" additivity="false" level="ERROR"/>
	

	
	<!-- project default level -->
	<logger name="com.whollyframework" level="INFO" />
	
	<root level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>